@model IEnumerable<Catagory>
@{
    ViewData["Title"] = "Indexs";
}
<div class=" container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Catagory List</h2>
        </div>
        <div class="col-6 text-right">
           <a asp-action="Create" class="btn btn-primary">Create New Gatagory</a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" onchange="btnval">
    <thead>
        <tr>
            <th>Catagory ID</th>
            <th> Display Name</th>
            <th>Display Order </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td width="50%">@item.Name</td>
                    <td width="50%">@item.Displayorder</td>
                    <td class="text-center">
                        <div class="w-75 btn-group " role="group">
                            <a asp-controller="Codex"asp-route-Id="@item.Id" asp-action="Edit" class="btn btn-primary">Edit</a>
                            <a asp-controller="Codex" asp-route-DeleteId ="@item.Id" asp-action="Deleted" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
    </tbody>
</table>
